    <a-entity id="scene-modernMuseum" visible="false">
        <a-sky
          id="image-360"
          src="#background"
         radius="150"
          phi-start="90"
        ></a-sky>
        <a-entity
         visible="false"
         template="src: #link"
         data-thumb="#thumb-home"
          data-from="modernMuseum"
          data-to="menu"
          position="0 0.1 0"
          rotation="-90 0 0"
        ></a-entity>
    </a-entity>
    