      <a-entity id="scene-japan" visible="false">
        <a-sky color="#b3c4d1"></a-sky>
        <a-entity
          visible="false"
          template="src: #link"
          data-thumb="#thumb-home"
          data-from="japan"
          data-to="menu"
          position="0 0.1 0"
          rotation="-90 0 0"
        ></a-entity>
        <a-plane
          src="#dirt"
          position="0 0 -11"
          rotation="-90 0 0"
          width="150"
          height="150"
          repeat="60 60"
        ></a-plane>
        <a-gltf-model 
          position="-14.5 0 -120" 
          src="#japanbuilding" 
          scale="0.9 0.9 0.9" 
          gltf-model="https://linx.yunkyu.com/selif/hrxhkjf2.gltf"
          visible="" 
          rotation="0 0 0">
        </a-gltf-model>
        <a-entity
          visible="false"
          template="src: #link"
          data-thumb="#thumb-2"
          data-from="japan"
          data-to="japanMuseum"
          rotation="330 0 0"
          position="0 0.866 -1.412"
        ></a-entity>
      </a-entity>
