      <a-entity id="scene-japan" visible="false">
        <a-sky color="#ff0000"></a-sky>
        <a-entity
        visible="false"
        template="src: #link"
        data-thumb="#thumb-home"
        data-from="japan"
        data-to="welcome"
        rotation="330 90 0"
        position="-1.412 0.866 0"
      ></a-entity>
      </a-entity>