      <a-entity id="scene-museum" visible="false">
        <a-sky color="#000000"></a-sky>
        <a-gltf-model
          src="#plate"
          position="0 1.5 0"
          scale="0.5 0.5 0.5"
        ></a-gltf-model>
      </a-entity>
